/* *{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: antiquewhite;
}
.container{
    background-color: white;
    width: 70%;
    margin:auto;
   min-height: 100vh;
   padding: 30px;
   box-sizing: border-box;
    
}
form{
    display: flex;
    flex-direction: column;
}
input,textarea,button{
    padding: 10px;
    border: 1px solid rgba(0,0,0,2);
    font: 100 1.1rem saans-serif;
    border-radius: 5px;
    outline: none;
    margin: 10px;
}
button{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}
button:hover{
    background-color: rgba(61,9,156);

}
.task{
    background-color:rgb(247,247,247);
    font: 100 1.1rem sans-serif;
    padding: 30px;
    margin: 2vmax;
    color: rgba(0,0,0,0.868);
    display: flex;
    align-items: center;
}
.task > div{
    width: 100%;
}
.task span{
    color: rgba(0,0,0,0.868);

}
.deleteBtn{
  border-radius: 100%;
  width: 30px;
    height: 30px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
} */
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' ,sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg,#153677,#4e085f);
    padding:10px
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px ;
    background: #ff5945;
   color: #fff;
   font-size: 16px;
   cursor: pointer;
   border-radius: 40px;
}
ul li{
    list-style: none;
    font-size:17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(uncheck.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;

}
ul li.checked{
    color: #555;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(check.jpg);
    

}
ul li span{
    position:absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;

}
ul li span:hover{
background: #edeef0;
}